LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=<your-langsmith-api-key>
LANGSMITH_PROJECT=genai
ANTHROPIC_API_KEY=<your-anthropic-api-key>
GOOGLE_API_KEY=<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>
GEMINI_API_KEY=<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>
